body{
    background-color: #F7EFE5;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar{
    background-color: #FDDA16;
    padding-bottom: 3rem; 
}

.inner-div{
    margin-top: 2%;
    margin-left: 4%;
  }
  
  #branding{
    font-family: "Cherry Bomb One", system-ui;
    font-size: 4rem;
    font-weight: bold; 
    -webkit-text-stroke: 0.1px black; 
  }
  
  .logo{
    width: 4rem; 
    margin-bottom: 28px;
  }

#navbarSupportedContent{
    margin-right: 50px;
    margin-top: 65px;
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item:hover{
    border-radius: 10px;
    background-color: #FFCA03;
  }
  
  .nav-link{
    font-size: 1rem;
    color: #4F4A45;
  }

.dp{
    margin-left: 30px;
    width: 20%;
}

.copyright{
    color: gray ;
    font-size: medium;
    font-weight: lighter;
    margin-top: 1rem;
}
.download-link{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.download-link-img{
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}