body{
    background-color: #DCFFB7;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar{
    background-color: #AD8B73;
    padding-bottom: 3rem; 
}

#branding{
    color: #A7D397;
    font-family: 'Lilita One', cursive;
    font-size: 2.5rem;
    font-weight: bold;  
    margin-top: 2%;
    margin-left: 4%;
}

#navbarSupportedContent{
    margin-right: 50px;
    margin-top: 65px;
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

/* Card */

.card{
    width: 60%;
    position: relative;
    padding-bottom: 2rem;
    margin-top: 3%;
    margin-left: 20%;
}

.container{
    display: flex;
    margin: 10px
}

.card-body{
    flex: 1;
    text-align: center;
}

.ind-download-btn{
    font-size: 20px;
    margin: 3%;
    padding: 2% 9%;
    /* margin-right: 30px; */
  }

li{
    margin: 5%;
}

.copyright{
    color: gray ;
    font-size: medium;
    font-weight: lighter;
    margin-top: 1rem;
}

.profile-photo-input {
    display: none;
  }
  
  .profile-photo-label {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #000000;
    color: white;;
    color: white;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .profile-photo-label:hover {
    opacity: 0.8;
  }
  
  .profile-photo-preview {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-photo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card, .card-header, .card-body{
    background-color: #E1F0DA;
  }

 .form-control {
    margin: 48px 0px;
 }

 .button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   