body{
  background-color: #DEF5E5;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar{
  background-color: #5F7161;
  padding: 0 0 3rem; 
}

#branding{
  color: #EFEAD8;
  font-family: 'Lilita One', cursive;
  font-size: 2.5rem;
  font-weight: bold;  
  margin-top: 2%;
  margin-left: 4%;
}

.card{
  width: 60%;
  position: relative;
  padding-bottom: 2rem;
  margin-top: 3%;
  margin-left: 20%;
}

li{
  margin: 5%;
}

.ind-download-btn{
  font-size: 20px;
  margin: 3%;
  padding: 2% 9%;
  margin-right: 30px;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: center;
}

input {
  display: inline-block;
  float: left;
}

.input-box{
  width: 15rem;
  height: 2rem;
}

tr{
  margin-top: 20%;
  margin-bottom: 20%;
}