body{
  background-color: #DEF5E5;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar{
  background-color: #5F7161;
  padding: 0 0 3rem; 
}

#branding{
  color: #EFEAD8;
  font-family: 'Lilita One', cursive;
  font-size: 2.5rem;
  font-weight: bold;  
  margin-top: 2%;
  margin-left: 4%;
}

.card{
  width: 60%;
  position: relative;
  padding-bottom: 2rem;
  margin-top: 3%;
  margin-left: 20%;
}

li{
  margin: 5%;
}
label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}
input {
display: inline-block;
float: left;
}
tr{
  margin-top: 20%;
  margin-bottom: 20%;
}