* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  background-color: #D4E7C5;
  margin: 0; 
  padding: 0; 
}

body {
  height: 100vh;
  margin: 0; 
  padding: 0; 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #AD8B73;
  color: white;
}

/* NavBar */
.navbar {
  background-color: #AD8B73;
  padding-bottom: 10px;
}

#branding {
  color: #E7F6F2;
  font-family: 'Lilita One', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 4%;
}

#navbarSupportedContent {
  margin-right: 50px;
  margin-top: 65px;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  padding-left: 0;
  padding-right: 0%;
}

.msg-container {
  padding: 20px;
  max-height: 625px;
  flex: 1;
  overflow-y: auto;
}

.user-container {
  background-color: #444F5A;
  width: 26%;
  padding: 20px;
  overflow-y: auto;
  padding: 0%;
}

.textbox {
  position: fixed;
  bottom: 0;
  left: 26%;
  width: 74%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #739072;
}

.input {
  border: solid 1.9px #9e9e9e;
  border-radius: 1.3rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 90%;
  background-color: #E7F6F2;
}

.input:focus, input:valid {
  outline: none;
  box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
  background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
  transition: background 4s ease-in-out;
}

.input:hover {
  border: solid 1.9px #000002;
  /* transform: scale(1.03); */
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
  transition: border-color 1s ease-in-out;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #A7D397;
  border: 2px solid #A7D397;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  margin-left: 20px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #A7D397;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px #A7D397;
}

.button:active {
  scale: 1;
}

#new-msg {
  padding: 10px;
}

#new-msg textarea {
  width: 100%;
  border: none;
  resize: none;
}

#new-msg button {
  margin-top: 10px;
}

#msg {
  margin-top: 20px;
  width: 400px;
}

.msg {
  max-width: 600px;
  border-radius: 18px;
  background: #e0e0e0;
  background-color: #E0EFEA;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}



.msg-else {
  max-width: 600px;
  border-radius: 18px;
  background: #e0e0e0;
  background-color: #E0EFEA;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 600px;
}

.msg-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.msg-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.msg-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: b;
}

.msg p {
  margin: 5% 10%;
  font-size: 16px;
}

.msg-else p {
  margin: 5% 10%;
  font-size: 16px;
}

#users{
  width: 100%;
  display: block;
}

.user {
  border-radius: 10px;
  background: #9BA4B5;
  background-color: #9BA4B5;
  border: 1px solid #444F5A;
  padding: 10px;
}

.user-header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.user-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: b;
}

.user p {
  text-align: center;
  font-size: 15px;
}

footer {
  max-width: 600px;
  margin-left: 450px;
  padding: 20px;
}