* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #A5C9CA;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1da1f2;
    color: white;
  }
  

  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #new-msg {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #new-msg textarea {
    width: 100%;
    border: none;
    resize: none;
  }
  
  #new-msg button {
    margin-top: 10px;
  }
  
  #msg {
    margin-top: 20px;
  }
  
  .msg {
    background-color: #FFF4E0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .msg-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .msg-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .msg-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: b;
  }
  
  .msg p {
    margin: 5% 10%;
    font-size: 16px;
  }

  footer{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  

  /* NavBar */

  .navbar{
    background-color: #395B64;
    padding-bottom: 3rem; 
}

#branding{
    color: #E7F6F2;
    font-family: 'Lilita One', cursive;
    font-size: 2.5rem;
    font-weight: bold;  
    margin-top: 2%;
    margin-left: 4%;
}

#navbarSupportedContent{
    margin-right: 50px;
    margin-top: 65px;
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}